.card-img-top {
    max-width: 10vw;
    max-height: -webkit-fill-available;
}

.card {
    width: 15vw;
    height: 15vw;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.skill-container {
    background-color: #0059d4;
}

#skills-page-title {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}

#skills-box {
    height: 65%;
}